body {
  background-color: rgb(199, 226, 111);
  font-size: larger;
  

}
  /* Resize images to 200px */
  img {
      width: 200px;
    }  /* Resize images to 150px */
    img {
      width: 300px;
    }
     /* Center h1 and h2 */
.intro h2 {
  text-align: center;
  background-color: rgb(48, 182, 48);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: x-large;
  font-style: oblique;
  padding: 5px;
  height:40px;
}

/* Style grocery list */
  .groceries-list {
      list-style: none;
      padding: 2px;
      margin: 0;
    }

    .groceries-list li {
      margin-bottom: 10px;
      font-size: 15px; 
    }
    .groceries-list li img {
      margin-right: 10px;
      vertical-align: middle;
    }
/* Position grocery list to the left */
.grocery-list-container {
  float: center;
  margin-right: 20px;
  padding: 10px;
}
    